h1, h2, nav, body {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    background-color: rgb(168, 137, 207);

}

h4 {
    font-family: monospace;
    font-size: large;
    text-align: center;
}

hr {
    width: 300px;
    border-color: rgb(243, 160, 78); 
}

.select {
    color: rgb(240, 97, 235);
    background-color: rgb(204, 243, 157);
    border: 20px 10px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-color: black;
    font-family:sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color:azure; 

}

#boardcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(174, 216, 232);

}

.select_v2 {
    color: rgb(252, 135, 9);
    background-color: rgb(79, 250, 247);
    border: 20px 10px;
}

h1, h2, nav {
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    background-color: current;
}

#winmessage {
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: darkseagreen;
    border: 10px solid burlywood;
    margin: 0 auto;
    position: absolute;
    opacity: 90%;
    top:32%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display:flex;
    align-items: center;
    color:rgb(255, 84, 167);
}

#winmessagetext {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: oblique; 
    font-weight: bold;
    margin: auto;
    color:rgb(255, 84, 167)
}

.hidden {
    display:none !important;
}
